<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <header>
  <%- include ("../partials/nav.ejs") %>
  </header>

<main class="userdetails__page">
  <div>
    <h2>Välkommen!</h2>
    <div class="userdetails__info">

      <h2><%= users.username %></h2>
      <h3>Kontaktuppgifter:</h3>
      <p>Email: <%= users.email %></p>
      <a href="/users/<%=user.id%>/uppdatera">
        Ändra konto</a>
      <a
      class="deleteUser" 
      data-doc="<%= user._id %>">
      Avregistrera</a>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
<script>
    const deleteButt = document.querySelector('a.delete');
    deleteButt.addEventListener('click', (e) => {
      //delete request till specifik endpoint:
      const endpoint = `/users/${deleteButt.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
</script>

</body>
</html>

  <!-- <img src=" %= user.profilepic %>"
      alt="profilbild"> -->